[submodule "course_repo"]
	path = autonomous_racing_cars
	url = https://github.com/raminmh/autonomous_racing_cars.git
[submodule "autonomous_racing_cars"]
	path = autonomous_racing_cars
	url = https://github.com/raminmh/autonomous_racing_cars.git
