<?xml version="1.0"?>
<launch>
    <param name="tracked_path" type="string" value="$(find group3_lab6)/waypoint_logs/recorded_trajectory.csv" />
    <node pkg="group3_lab6" name="pure_pursuit" type="pure_pursuit.py" output="screen">
    </node>
    <node pkg="group3_lab6" name="drive_controller" type="drive_controller.py" output="screen"/>
    <node pkg="rqt_reconfigure" name="rqt_reconfigure" type="rqt_reconfigure"/>
    <arg name="dynparam_delay" default="1.5" />
    <node pkg="dynamic_reconfigure" name="$(anon dynparam)" type="dynparam"
        args="load /drive_controller $(find group3_lab6)/launch/drive_controller.yaml"
        launch-prefix="bash -c 'sleep $(arg dynparam_delay); $0 $@' "/>
    <node name="plotjuggler"
          pkg="plotjuggler"
          type="PlotJuggler"
          args="--layout $(find group3_lab6)/launch/plotjuggler_layout.xml"/>
</launch>
