<?xml version="1.0"?>
<launch>
  <!-- Listen to messages from joysicks -->
  <node pkg="joy" name="joy_node" type="joy_node"/>

  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find group3_lab6)/maps/remapped_levine_loop.yaml"/>
  <!-- <arg name="map" default="$(find group3_lab6)/maps/remapped_levine_loop.yaml"/> -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch the racecar model -->
  <include file="$(find f110_simulator)/launch/racecar_model.launch"/>

  <!-- Begin the simulator with the parameters from params.yaml -->
  <node pkg="f110_simulator" name="f110_simulator" type="simulator" output="screen">
    <rosparam command="load" file="$(find group3_lab6)/launch/simulate_remapped_environment.yaml"/>
  </node>

  <!-- Launch the mux node with the parameters from params.yaml -->
  <node pkg="f110_simulator" name="mux_controller" type="mux" output="screen">
    <rosparam command="load" file="$(find group3_lab6)/launch/simulate_remapped_environment.yaml"/>
  </node>

  <!-- Launch the behavior controller node with the parameters from params.yaml -->
  <node pkg="f110_simulator" name="behavior_controller" type="behavior_controller" output="screen">
    <rosparam command="load" file="$(find group3_lab6)/launch/simulate_remapped_environment.yaml"/>
  </node>

  <!-- Launch the Random Walker Node -->
  <!--
  <node pkg="f110_simulator" name="random_walker" type="random_walk" output="screen">
    <rosparam command="load" file="$(find group3_lab6)/launch/simulate_remapped_environment.yaml"/>
  </node>
  -->

  <!-- Launch the Keyboard Node -->
  <node pkg="f110_simulator" name="keyboard" type="keyboard" output="screen">
    <rosparam command="load" file="$(find group3_lab6)/launch/simulate_remapped_environment.yaml"/>
  </node>

  <!-- Launch the Particle Filter Node -->
  <node pkg="particle_filter" type="particle_filter.py" name="ParticleFilter" output="screen">
		<param name="scan_topic" value="/scan"/>
		<param name="odometry_topic" value="/simulator/odom"/>
		<param name="angle_step" value="18"/>
		<param name="max_particles" value="4000"/>
		<param name="max_viz_particles" value="60"/>
		<param name="range_method" value="pcddt"/>
		<param name="squash_factor" value="2.2"/>
		<param name="theta_discretization" value="112"/>
		<param name="max_range" value="25"/> 
		<param name="viz" value="1"/> 
		<param name="fine_timing" value="0"/> 
		<param name="publish_odom" value="1"/> 
		<param name="z_short" value="0.01"/> 
		<param name="z_max" value="0.07"/> 
		<param name="z_rand" value="0.12"/> 
		<param name="z_hit" value="0.75"/> 
		<param name="sigma_hit" value="8.0"/> 
		<param name="motion_dispersion_x" value="0.05"/> 
		<param name="motion_dispersion_y" value="0.05"/> 
		<param name="motion_dispersion_theta" value="0.05"/> 
    <param name="rangelib_variant" value="2"/>
	</node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 map odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="link2_broadcaster" args="1 0 0 0 0 0 1 odom base_link" />

  <!-- Launch RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find group3_lab6)/launch/simulate_remapped_environment.rviz" output="screen"/>
</launch>
