<?xml version="1.0"?>
<launch>
    <include file="$(find group3_lab7)/launch/headless_simulator.launch">
        <arg name="map" default="$(find group3_lab7)/maps/levine.yaml"/>
    </include>
    <param name="tracked_path" type="string" value="$(find group3_lab7)/paths/levine_resampled.csv" />
    <node pkg="group3_lab7" name="path_publisher" type="path_publisher.py" output="screen"/>
    <node pkg="rqt_reconfigure" name="rqt_reconfigure" type="rqt_reconfigure"/>


    <remap to="/path_publisher/goal" from="/motion_planner/goal" />
    <node pkg="group3_lab7" name="motion_planner" type="motion_planner" output="screen"/>

    <remap to="/motion_planner/steering_angle" from="/drive_controller/steering_angle" />
    <node pkg="group3_lab7" name="drive_controller" type="drive_controller.py" output="screen"/>

    <!--
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find group3_lab7)/launch/path_following_with_local_planner.rviz" output="screen"/>
    -->
</launch>
